/**
 * Theme overrides - alabaster
 */
div.body p, div.body dd, div.body li, div.body blockquote {
  -moz-hyphens: none;
  -ms-hyphens: none;
  -webkit-hyphens: none;
  hyphens: none;
}

pre {
  padding: 11px 14px;
}

.highlight {
  background: #EEE;
}
